.algonquin {
	width: 100%;
	height: 1000px;
}

.header {
  position: sticky;
  width: 100%;
  background: darkgreen;
}

h1 {
  color: white;
  text-align: center;
}

.left-column {
  float: left;
  height: 100%;
  width: 20%;
  color: white;
  background: darkgreen;
  border: 5px solid white;
	padding: 8px;
}

.center-column {
  margin: auto;
  height: 100%;
  width: 50%;
  color: white;
  background: darkgreen;
  padding: 10px;
  border: 5px solid white;
	padding: 8px;
}

.right-column {
  float: right;
  height: 100%;
  width: 20%;
  color: white;
  background: darkgreen;
  border: 5px solid white;
	padding: 8px;
}

.left-column-head {
  font-size: 30px;
  text-align: center;
  border: 5px solid white;
}

.footer {
  color: white;
  background: darkgreen;
  width: 100%;
  height: 100%;
  border: 5px solid white;
	padding: 8px;
}

body {
  background-color: rgb(#00482f);
}

.img {
	height: 100px;
	width: 200px;
	border: 10px solid cyan;
	background: white;
}

.img-1 {
	height: 100px;
	width: 100px;
	border: 10px solid cyan;
	background: white;
}

.h1 {
	font-size: 25px;
}